{% extends "base.html" %}
{% block content %}
    <main>
        <section id="home">
            <ul>
                {% for article in articles_page.object_list %}
                {% if article.title == "Narrative Journal" %}
                    <!-- <li>
                        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                        <aside>
                            <ul>
                                <li>
                                    <time datetime="{{ article.date }}">{{ article.date|strftime('%b %d, %Y') }}</time>
                                </li>
                                {% if article.readtime %}
                                    <li>
                                        {{ article.readtime.minutes }} min read
                                    </li>
                                {% endif %}
                            </ul>
                        </aside>
                        <p>
                            {{ article.summary }}
                            <a href="{{ SITEURL }}/{{ article.url }}"><em>Read more...</em></a>
                        </p>
                    </li> -->
                    <main>
                        <article>
                            <!-- <h1>{{ article.title }}</h1> -->
                            {% import 'translations.html' as translations with context %}
                            {{ translations.translations_for(article) }}
                            <aside>
                                <ul>
                                    <li>
                                        <time datetime="{{ article.date }}">{{ article.date|strftime('%b %d, %Y') }}</time>
                                    </li>
                                    {% if article.modified %}
                                    <li>
                                        <time datetime="{{ article.modified }}">Modified
                                            on {{ article.modified|strftime('%b %d, %Y') }}</time>
                                    </li>
                                    {% endif %}
                                    {% if article.readtime %}
                                    <li>{{ article.readtime.minutes }} min read</li>
                                    {% endif %}
                                    {% if article.category %}
                                    <!-- <li>
                                        Categories:
                                        <a href="{{ SITEURL }}/{{ article.category.url }}"><em>{{ article.category }}</em></a>
                                        {% endif %}
                                    </li> -->
                                    {% if article.tags %}
                                    <li>
                                        Tags:
                                        {% for tag in article.tags %}
                                        <a href="{{ SITEURL }}/{{ tag.url }}"><em>#{{ tag }}</em></a>
                                        {% endfor %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </aside>

                            <div class="colorbar">
                                <span id="part-1">Proposal</span>
                                <span id="part-2">Updated Narrative Flow</span>
                            </div>
                        <div class="m-top">
                            {{ article.content }}
                        </div>
                            
                        </article>
                        <section class="post-nav">
                            <div id="left-page">
                                <div id="left-link">
                                    {% if article.next_article %}
                                    <div id="left-arrow"><i class="fa fa-chevron-circle-left"></i></div>
                                    <a href="{{ SITEURL }}/{{ article.next_article.url }}"> {{ article.next_article.title }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="right-page">
                                <div id="right-link">
                                    {% if article.prev_article %}
                                    <a href="{{ SITEURL }}/{{ article.prev_article.url }}">{{ article.prev_article.title }} </a>
                                    <div id="right-arrow"><i class="fa fa-chevron-circle-right"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                        <div>
                            {% include 'disqus_script.html' %}
                        </div>
                    </main>                    
                {% endif %}
                {% endfor %}
            </ul>
            {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
            {% endif %}
        </section>
    </main>
{% endblock content %}

<script>
    const mediaElements = document.querySelectorAll('.media');

mediaElements.forEach(mediaElement => {
  const annotationElement = mediaElement.querySelector('.annotation');

  mediaElement.addEventListener('mouseenter', () => {
    annotationElement.style.opacity = 1;
  });

  mediaElement.addEventListener('mouseleave', () => {
    annotationElement.style.opacity = 0;
  });
});
</script>